{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/population/per_square_km.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="col-md-7">
		<div id="map_container"></div>
	</div>
	<div class="col-md-5">
		<fieldset>
			<p>This map shows the number of residents per square kilometer per region.</p>
			<legend>Population:</legend>
			Population Density: <div id="default_gradient"></div>
		</fieldset>
	</div>
{% endblock %}