{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/population/per_region.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="col-md-7">
		<div id="map_container"></div>
	</div>
	<div class="col-md-5">
		<fieldset>
			<p>This map shows the number of residents against the number of employees per region.</p>
			<legend>Population:</legend>

			No. of Residents is Greater then No. of Employees: <div id="green_gradient"></div>
			No. of Residents is Less then No. of Employees: <div id="red_gradient"></div>
			No. of Residents is Equal to No. of Employees: <div id="blue_gradient"></div>
		</fieldset>
	</div>
{% endblock %}