html, body {
    height: 100%;
    min-height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.loading_background {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
}

.spinner {
    margin: 24% auto;
    width: 50px;
    height: 50px;
    position: relative;
}

.loader_text {
    position: absolute;
    width: 300px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    left: -120px;
    top: 100px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    font-weight: bold;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 12px;
    height: 12px;
    background-color: #fff;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.hidden {
    display: none
}

/* ARRONDISSMENT TRAFFIC */
#choose_date {
    margin: 10px;
}

#map_container {
    position: relative;
    width: 100%;
    height: 100%;
    /*min-height: 530px;*/
    min-height: 700px;
    padding-bottom: 120px !important;
}

/* POPULATION */
#blue_gradient {
    width: 300px;
    height: 20px;

    background: -webkit-linear-gradient(90deg, #26D0CE 10%, #1A2980 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #26D0CE 10%, #1A2980 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #26D0CE 10%, #1A2980 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #26D0CE 10%, #1A2980 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #26D0CE 10%, #1A2980 90%); /* W3C */        
}

#red_gradient {
    width: 300px;
    height: 20px;

    background: -webkit-linear-gradient(90deg, #ff0084 10%, #33001b 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #ff0084 10%, #33001b 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #ff0084 10%, #33001b 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #ff0084 10%, #33001b 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #ff0084 10%, #33001b 90%); /* W3C */        
}

#green_gradient {
    width: 300px;
    height: 20px;

    background: -webkit-linear-gradient(90deg, #93F9B9 10%, #1D976C 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #93F9B9 10%, #1D976C 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #93F9B9 10%, #1D976C 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #93F9B9 10%, #1D976C 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #93F9B9 10%, #1D976C 90%); /* W3C */        
}

#default_gradient {
    width: 300px;
    height: 20px;

    background: #C6DBEF;
    background: -webkit-linear-gradient(left, #C6DBEF, #084594);
    background: -moz-linear-gradient(left, #C6DBEF, #084594);
    background: -ms-linear-gradient(left, #C6DBEF, #084594);
    background: -o-linear-gradient(left, #C6DBEF, #084594);
    background: linear-gradient(to right, #C6DBEF, #084594);
}