{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/arrondissment_traffic/arr_traffic.js') }}"></script>
{% endblock %}
{% block content %}	
	<div class="col-md-7">
	    <div id="map_container"></div>
	</div>
	<div class="col-md-5">
	    <div id="controls">
	        <h2>Options</h2>
	        <form class="form-horizontal">
	        	<!-- Type of Traffic -->
	            <div class="form-group">
	                <label for="traffic" class="col-sm-3 control-label">Type of Traffic:</label>
	                <div class="col-sm-5">
	                    <select id="traffic" class="form-control">
	                        <option value="num_calls">Number of calls</option>
	                        <option value="call_dur">Total call duration</option>
	                    </select>
	                </div>
	            </div>

	            <!-- Traffic Direction -->
	            <div class="form-group">
	                <label for="direction" class="col-sm-3 control-label">Traffic Direction:</label>
	                <div class="col-sm-5">
	                    <select id="direction" class="form-control">
	                        <option value="out">Outgoing</option>
	                        <option value="in">Incoming</option>
	                    </select>
	                </div>
	            </div>

	            <!-- Choose Date Filter -->
	            <div class="form-group">
	                <label for="date_filter" class="col-sm-3 control-label">Filter Date:</label>
	                <div class="col-sm-5">
	                    <select id="date_filter" class="form-control">
							<option value="hour">By Hour</option>
							<option value="day">By Day</option>
							<option value="month">By Month</option>
	                    </select>
	                </div>
	            </div>

	            <!-- Choose Month -->
	            <div id="choose_month_wrap" class="form-group">
	                <label for="month" class="col-sm-3 control-label">Choose Month:</label>
	                <div class="col-sm-5">
	                    <select id="month" class="form-control">
							<option value="01" data-raw="1">January</option>
							<option value="02" data-raw="2">February</option>
							<option value="03" data-raw="3">March</option>
							<option value="04" data-raw="4">April</option>
							<option value="05" data-raw="5">May</option>
							<option value="06" data-raw="6">June</option>
							<option value="07" data-raw="7">July</option>
							<option value="08" data-raw="8">August</option>
							<option value="09" data-raw="9">September</option>
							<option value="10" data-raw="10">October</option>
							<option value="11" data-raw="11">November</option>
							<option value="12" data-raw="12">December</option>
	                    </select>
	                </div>
	            </div>

	            <!-- Choose date -->
	            <div class="form-group">
	                <label for="choose_date" class="col-sm-3 control-label">Choose date:</label>
	                <div class="col-sm-6">
	                    <div id="choose_date"></div>
	                </div>
	            </div>

	            <div class="form-group">
	                <label for="choose_date" class="col-sm-3 control-label">Selected date:</label>
	                <div class="col-sm-5">
	                    <input id="selected_date" type="text" class="form-control" placeholder="Text input" disabled>
	                </div>
	            </div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<div class="checkbox">
							<label>
								<input id="autoplay" type="checkbox"> Autoplay
							</label>
						</div>
					</div>
				</div>
	        </form>
	    </div>
	</div>
{% endblock %}