<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>D4D Senegal</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/jquery-ui-1.11.4/jquery-ui.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.v3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/topojson.v1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/datamaps.world.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/rainbowvis.js') }}"></script>

        <script type="text/javascript">
            // http://flask.pocoo.org/docs/0.10/api/#flask.Request.path
            var $SCRIPT_ROOT = {{ request.base_url|tojson|safe }};
            var $GEOJSON_FILE = '/static/senegal_map/senegal_geojson.json';
            var $GEOJSON_REGIONS_FILE = '/static/senegal_map/senegal_regions_geojson.json';
            var $TOPOJSON_FILE = '/static/senegal_map/senegal_topojson.json';
            var $TOPOJSON_REGIONS_FILE = '/static/senegal_map/senegal_regions_topojson.json';
            console.log($SCRIPT_ROOT);

            $(function() {
                window.selectMenuItem = function(menu_item_id) {
                    $('.menu_item').removeClass('active');
                    $('#' + menu_item_id).addClass('active');
                }
            });
        </script>        
    {% endblock %}
</head>
<body>
    <div id="loading" class="loading_background hidden">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="loader_text">Loading</div>
        </div>
    </div>

    <div class="container-fluid fill">
        <!-- menu -->
        <div class="row">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">D4D Senegal</a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="menu_arr_traffic" class="menu_item">
                                        <a href="{{url_for('arrondissment_traffic.index')}}">Arrondissment Traffic</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Population <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li id="menu_per_arr" class="menu_item">
                                                <a href="{{url_for('population.per_arr')}}">Per Arrondissment</a>
                                            </li>
                                            <li id="menu_per_region" class="menu_item">
                                                <a href="{{url_for('population.per_region')}}">Per Region</a>
                                            </li>
                                            <li id="menu_per_square_km" class="menu_item">
                                                <a href="{{url_for('population.per_square_km')}}">Per Square Kilometer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item"><a href="#">Link</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>                
                </div>
            </nav>
        </div>

        <!-- map -->
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>